@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}
@{
    var pendingProducts = ViewBag.PendingProducts as List<Product>;
    var acceptedProducts = ViewBag.AcceptedProducts as List<Product>;

    var rejectedProducts = ViewBag.RejectedProducts as List<Product>;

}
<h1>Index</h1>

<h2>Pending Products</h2>

<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Farmer</th>
            <th>Description</th>
            <th>Price</th>
            <th>Image</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in pendingProducts )
        {
            <tr>
                <td>@product.ProductName</td>
                <td>@product.FarmerName</td>
                <td>@product.ProductDescription</td>
                <td>@product.ProductPrice</td>
                <td>
                    @if (!string.IsNullOrEmpty(product.ProductImg))
                    {
                        <img src="@product.ProductImg" alt="Product Image" style="max-width: 100px;" />
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-controller="Products" asp-route-id="@product.ProductId" class="btn btn-primary">Details</a>
                    <a asp-action="Accept" asp-controller="Products" asp-route-id="@product.ProductId" class="btn btn-success" onclick="return confirm('Are you sure you want to accept this organization?');">Accept</a>
                    <a asp-action="Reject" asp-controller="Products" asp-route-id="@product.ProductId" class="btn btn-danger" onclick="return confirm('Are you sure you want to reject this organization?');">Reject</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Farmer</th>
            <th>Description</th>
            <th>Price</th>
            <th>Image</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in acceptedProducts)
        {
            <tr>
                <td>@product.ProductName</td>
                <td>@product.FarmerName</td>
                <td>@product.ProductDescription</td>
                <td>@product.ProductPrice</td>
                <td>
                    @if (!string.IsNullOrEmpty(product.ProductImg))
                    {
                        <img src="@product.ProductImg" alt="Product Image" style="max-width: 100px;" />
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-controller="Products" asp-route-id="@product.ProductId" class="btn btn-primary">Details</a>
                    <a asp-action="Pend" asp-controller="Products" asp-route-id="@product.ProductId" class="btn btn-secondary" onclick="return confirm('Are you sure you want to reject this organization?');">Pending</a>
                </td>

            </tr>
        }
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Farmer</th>
            <th>Description</th>
            <th>Price</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in rejectedProducts)
        {
            <tr>
                <td>@product.ProductName</td>
                <td>@product.FarmerName</td>
                <td>@product.ProductDescription</td>
                <td>@product.ProductPrice</td>
                <td>
                    @if (!string.IsNullOrEmpty(product.ProductImg))
                    {
                        <img src="@product.ProductImg" alt="Product Image" style="max-width: 100px;" />
                    }
                </td>
                
                <td>
                    <a asp-action="Details" asp-controller="Products" asp-route-id="@product.ProductId" class="btn btn-primary">Details</a>
                    <a asp-action="Pend" asp-controller="Products" asp-route-id="@product.ProductId" class="btn btn-secondary" onclick="return confirm('Are you sure you want to reject this organization?');">Pending</a>
                </td>
                
            </tr>
        }
    </tbody>
</table>